<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Romax Rajeev - Computer Engineer</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/ep-2/main.css" rel="stylesheet">
    <link href="css/ep-2/custom.css" rel="stylesheet">
    <link href="css/ep-2/new.css" rel="stylesheet">
    <link rel="icon" href="images/ep-2/pce.png">

  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top custom-nav-bg navbar-transparent" color-on-scroll="200">
          <div class="container">
            <div class="navbar-translate"><a class="navbar-brand" href="index.html" rel="tooltip"><img class="logo img-fluid ml-3" src="images/ep-2/pce.png" style="width: 4em; height: 4em;"></a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">

                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#projectintern">Projects & Internships</a></li>
                <li class="dropdown"><a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Others</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item smooth-scroll" href="#activities">Activities</a>
                        <a class="dropdown-item smooth-scroll" href="#achievements">Achievements</a>
                        <a class="dropdown-item smooth-scroll" href="#goals">Goals</a>
                        <a class="dropdown-item smooth-scroll" href="#otherinfo">Other Info</a>
                        <a class="dropdown-item smooth-scroll" href="#testimonials">Testimonials</a>
                    </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="false" style="background-image: url('images/ep-2/banner-comp.jpg');"></div>
      <div class="container">
        <div class="content-center mt-5 mt-md-3 resp-down-norm-nomargin">
          <div class="cc-profile-image"><a href="#"><img src="https://media-exp1.licdn.com/dms/image/C5103AQFm_bU6qd7i4A/profile-displayphoto-shrink_200_200/0?e=1597276800&v=beta&t=G5hm-38BfpB7S03sAQkVovymgOBuJjAXkq_OB_Pr6-8" height="50px" width="50px" alt="Image"/></a></div>
          <div class="h2 title mt-1 mt-md-4">Romax Rajeev</div>
          <p class="degree category text-white">Final Year, Computer Engineering</p>
          <div class="row mt-3">
            <div class="col-12 col-md-3 mt-3">
              <div class="email">
                <i class="fa fa-envelope" style="color:#ff9900"></i><a style="text-decoration: none; color: #fff;;" href="mailto:johndoe@gmail.com">                          johndoe@gmail.com</a>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="row mt-3">

                  <div class="col"></div>
                  <div class="col">
                    <div class="row rounded-rect ml-auto mr-auto">
                        <div class="col text-center ml-auto mr-auto">
                          <a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin" style="color: #000;"></i></a>&nbsp;&nbsp;&nbsp;
                          <a href="https://www.github.com" target="_blank"><i class="fa fa-github" style="color: #000;"></i></a>&nbsp;&nbsp;&nbsp;
                          <a href="https://romaxrajeev.in" target="_blank"><i class="fa fa-globe" style="color: #000;"></i></a>
                        </div>
                    </div>
                  </div>
                  <div class="col"></div>
              </div>
            </div>
            <div class="col-12 col-md-3 mt-3">
              <div class="email">
                <i class="fa fa-envelope" style="color:#ff9900"></i><a style="text-decoration: none; color: #fff;;" href="mailto:johndoe@gmail.com">                          johndoe@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-intro bg-custom-light-yellow mt-5" data-aos="fade-up">
  I am a web developer, currently looking forward for new prospects in Web Design.
</div>
<div id="skill" data-aos="fade-up">
  <div class="container">
   <div class="row">
     <div class="d-block mx-auto mx-md-0">
      <div class="col-5">
        <div class="section-part-header">Skills</div>
       </div>
     </div>
   </div>

   <ul class="nav nav-tabs mt-3" role="tablist" id="myTab">
     
     <li class="nav-item">
      <a class="nav-link text-25 active" href="#programming" data-toggle="tab" role="tab">Programming</a>
     </li>
     
     <li class="nav-item">
      <a class="nav-link text-25" href="#webdevelopment" data-toggle="tab" role="tab">Web Development</a>
     </li>

     <li class="nav-item">
      <a class="nav-link text-25" href="#graphicdesign" data-toggle="tab" role="tab">Graphic Design</a>
     </li>

   </ul>

   <div class="tab-content">
    
     <div class="tab-pane fade show active" id="programming" role="tabpanel">
                <div class="row">
                  
                  <div class="col-12 col-lg-4 mt-5 text-center">
                    <div class="circle">
                    <img src="images/ep-2/circle.svg" width="175px" height="175px">
                    <div class="score">
                      9/10
                    </div>
                    </div>
                  <p class="skill-text mt-4">Python</p>
                  </div>
                  
                  <div class="col-12 col-lg-4 mt-5 text-center">
                    <div class="circle">
                    <img src="images/ep-2/circle.svg" width="175px" height="175px">
                    <div class="score">
                      7/10
                    </div>
                    </div>
                  <p class="skill-text mt-4">C++</p>
                  </div>

                  <div class="col-12 col-lg-4 mt-5 text-center">
                    <div class="circle">
                    <img src="images/ep-2/circle.svg" width="175px" height="175px">
                    <div class="score">
                      5/10
                    </div>
                    </div>
                  <p class="skill-text mt-4">Java</p>
                  </div>

                </div>
        </div>
        
        <div class="tab-pane fade" id="webdevelopment" role="tabpanel">
            <div class="row">
                  
              <div class="col-12 col-lg-4 mt-5 text-center">
                <div class="circle">
                <img src="images/ep-2/circle.svg" width="175px" height="175px">
                <div class="score">
                  8/10
                </div>
                </div>
              <p class="skill-text mt-4">ReactJS</p>
              </div>
              
              <div class="col-12 col-lg-4 mt-5 text-center">
                <div class="circle">
                <img src="images/ep-2/circle.svg" width="175px" height="175px">
                <div class="score">
                  9/10
                </div>
                </div>
              <p class="skill-text mt-4">Javascript</p>
              </div>

              <div class="col-12 col-lg-4 mt-5 text-center">
                <div class="circle">
                <img src="images/ep-2/circle.svg" width="175px" height="175px">
                <div class="score">
                  7/10
                </div>
                </div>
              <p class="skill-text mt-4">CSS3</p>
              </div>
          </div>
          
          <div class="row">
          <div class="col"></div>
            <div class="col-10 mt-5">
            <div class="table-responsive">
              <table class="table text-center" border=0 style="background: #FDF5EA;">
                  <tr>
                    <td>HTML5</td>
                    <td>jQuery</td>
                    <td>AJAX</td>
                    <td>PHP</td>
                  </tr>
                  <tr>
                    <td>MySQL</td>
                    <td>NodeJS</td>
                    <td>Flask</td>
                    <td>Django</td>
                  </tr>
              </table>
            </div>
            </div>
            <div class="col"></div>
          </div>

     </div>

     <div class="tab-pane fade" id="graphicdesign" role="tabpanel">
      <div class="row">
            
        <div class="col-12 col-lg-4 mt-5 text-center">
          <div class="circle">
          <img src="images/ep-2/circle.svg" width="175px" height="175px">
          <div class="score">
            9/10
          </div>
          </div>
        <p class="skill-text mt-4">Adobe Photoshop</p>
        </div>
        
        <div class="col-12 col-lg-4 mt-5 text-center">
          <div class="circle">
          <img src="images/ep-2/circle.svg" width="175px" height="175px">
          <div class="score">
            9/10
          </div>
          </div>
        <p class="skill-text mt-4">Adobe Illustrator</p>
        </div>

        <div class="col-12 col-lg-4 mt-5 text-center">
          <div class="circle">
          <img src="images/ep-2/circle.svg" width="175px" height="175px">
          <div class="score">
            9/10
          </div>
          </div>
        <p class="skill-text mt-4">Adobe Experience Design</p>
        </div>
    </div>
    
    <div class="row">
    <div class="col"></div>
      <div class="col-10 mt-5">
      <div class="table-responsive">
        <table class="table text-center" border=0 style="background: #FDF5EA;">
            <tr>
              <td>Figma</td>
              <td>Adobe Indesign</td>
              <td>Filmora</td>
              <td>Corel Draw</td>
            </tr>
        </table>
      </div>
      </div>
      <div class="col"></div>
    </div>

  </div>

  </div>
</div>

<!-- Education -->
<div id="education" style="margin-top: 10%;" data-aos="fade-up">
  <div class="container">
   <div class="row">
     <div class="d-block mx-auto mx-md-0">
       <div class="col-5">
        <div class="section-part-header">Education</div>
       </div>
     </div>
   </div>
    <div class="md-horizontal-content text-center">
      <div class="row mt-4">
        <div class="col-md"></div>
        <div class="col-md-10"><img src="images/ep-2/education-2.svg" width="1380px" height="43.98px"></div>
        <div class="col-md"></div>
      </div>
      <div class="row mt-3">
        
        <div class="col-md bg-custom-light-yellow ml-1 mr-1">
          <div class="col-ed-header mt-4 mb-2">
            Pillai College of Engineering
          </div>
          <div class="col-content">
            University of Mumbai<br>
            Average CGPA: 9.70
          </div>
        </div>

        <div class="col-md bg-custom-light-yellow ml-1 mr-1">
          <div class="col-ed-header mt-4 mb-2">
            St. Mary's Junior College
          </div>
          <div class="col-content">
            Maharashtra Board<br>
            Percentage: 92.92
          </div>
        </div>

        <div class="col-md bg-custom-light-yellow ml-1 mr-1">
          <div class="col-ed-header mt-4 mb-2">
            St. Mary's Multipurpose High School
          </div>
          <div class="col-content">
            Maharashtra Board<br>
            Percentage: 94.40
          </div>
        </div>

      </div>
    </div>
    <div class="row xs-vertical-content">
      <div class="container">
      <div class="row mt-5">
        <div class="col-1"></div>
        <div class="col-10">

          <div class="row bg-custom-light-yellow mt-1 mb-1">
            <div class="col-ed-header mt-4 mb-2 ml-auto mr-auto text-center justify-content-center">
              Pillai College of Engineering
            </div>
            <br>
            <div class="col-content ml-auto mr-auto text-center">
              University of Mumbai<br>
              Average CGPA: 9.70
            </div>
          </div>
          
          <div class="row bg-custom-light-yellow mt-3 mb-1">
            <div class="col-ed-header mt-4 mb-2 ml-auto mr-auto text-center justify-content-center">
              St. Mary's Multipurpose High School & Junior College
            </div>
            <br>
            <div class="col-content ml-auto mr-auto text-center">
              Maharashtra Board<br>
            Percentage: 92.92
            </div>
          </div>

          <div class="row bg-custom-light-yellow mt-3 mb-1">
            <div class="col-ed-header mt-4 mb-2 ml-auto mr-auto text-center justify-content-center">
              St. Mary's Multipurpose High School
            </div>
            
            <div class="col-content ml-auto mr-auto text-center">
              Maharashtra Board<br>
            Percentage: 94.40
            </div>
          </div>

        </div>
        <div class="col-1"></div>
        </div>
      </div>
    </div>
    </div>
</div>

<!-- Projects and Internships Tab -->
<div class="section" id="projectintern" data-aos="fade-up">
  <div class="container cc-experience">
      <div class="row">
        <div class="d-block mx-auto mx-md-0">
          <div class="col-12">
           <div class="section-part-header">Projects & Internships</div>
          </div>
        </div>
      </div>
      <div class="row">
        <ul class="nav nav-tabs mt-3" role="tablist" id="projinternTab">
          <li class="nav-item">
           <a class="nav-link text-25 active" href="#proj" data-toggle="tab" role="tab">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-25" href="#intern" data-toggle="tab" role="tab">Internships</a>
           </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="proj" role="tab-panel">
          <div class="container">
            <div class="mt-5">

              <div class="card">
                <div class="row">
                  <div class="col-md-3" style="background-color:#ff9900;" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-experience-header" style="color:#000;">
                    <div class="h6 text-center ml-auto mr-auto">Movie Success Prediction using Multiple Factors (January 2020 - April 2020)</div>
                    <br>
                      <div class="h6 text-center ml-auto mr-auto"><u>Semester:- 6</u></div>
                    </div>
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                      <p>
                      <div class="h6 mt-3">Project details:</div>
                      </p>
                      <p>A prediction model was setup and trained with a custom data set of 600+ Bollywood movies and having an accuracy of 75%. Ensemble method was used for choosing the better answer.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="row">
                  <div class="col-md-3" style="background-color:#ff9900;" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-experience-header" style="color:#000;">
                    <div class="h6 text-center ml-auto mr-auto">Leave Management System (July 2019 - December 2019)</div>
                    <br>
                      <div class="h6 text-center ml-auto mr-auto"><u>Semester:- 5</u></div>
                    </div>
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                      <p>
                      <div class="h6 mt-3">Project details:</div>
                      </p>
                      <p>An application where an employee can apply for various types of leaves and the employer can evaluate and consider the leave applications of the employees.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="row">
                  <div class="col-md-3" style="background-color:#ff9900;" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-experience-header" style="color:#000;">
                    <div class="h6 text-center ml-auto mr-auto">Online Movie Ticketing Application using Flask (Feb 2019 - April 2019)</div>
                    <br>
                      <div class="h6 text-center ml-auto mr-auto"><u>Semester:- 4</u></div>
                    </div>
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                      <p>
                      <div class="h6 mt-3">Project details:</div>
                      </p>
                      <p>With this responsive web application supported with Bootstrap frontend framework and easily navigatable user interface, any user can easily book tickets to a movie at the nearest city, along with options for eatables. There is a QR code displayed after booking, which contains all the details of the movie tickets booked.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="row">
                  <div class="col-md-3" style="background-color:#ff9900;" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-experience-header" style="color:#000;">
                    <div class="h6 text-center ml-auto mr-auto">Faculty Profile Generator Application (July 2018 - December 2018)</div>
                    <br>
                      <div class="h6 text-center ml-auto mr-auto"><u>Semester:- 3</u></div>
                    </div>
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                      <p>
                      <div class="h6 mt-3">Project details:</div>
                      </p>
                      <p>With this application, faculties of a particular college can add their experiences in terms of seminars, meetings, and other activities and maintain a record of it.</p>
                    </div>
                  </div>
                </div>
              </div>
              
              <br>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="intern" role="tab-panel">
          <div class="container">
            <div class="mt-5">

              <div class="card">
                <div class="row">
                  <div class="col-md-3" style="background-color:#ff9900;" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-experience-header" style="color:#000;">
                    <div class="h6 ml-auto mr-auto">Pillai College of Engineering</div>
                    <br>
                      <div class="h6 ml-auto mr-auto"><u>Semester:- 6</u></div>
                    </div>
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                      <p>
                        <div class="h6">Technical Internship details:</div>
                      </p>
                      <p>Developing E-portfolio websites using HTMl, CSS, JS, jQuery, Python and Flask.</p>
                      <p>Duration: 30 days</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="row">
                  <div class="col-md-3" style="background-color:#ff9900;" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-experience-header" style="color:#000;">
                    <div class="h6 ml-auto mr-auto">FriendColony Sports India Private Limited</div>
                    <br>
                      <div class="h6 ml-auto mr-auto"><u>Semester:- 4</u></div>
                    </div>
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                      <p>
                        <div class="h6">Non-Technical Internship details:</div>
                      </p>
                      <p>Designed logo and other branding requirements for Sporcial like visiting cards, ID cards, and employee t-shirts. Posters for event promotion and digital marketing were also prepared.</p>
                      <p>Duration: 45 days</p>
                    </div>
                  </div>
                </div>
              </div>
              
              <br>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>

<!--Activities-->
  <div class="section" id="activities" data-aos="fade-up">
    <div class="container">
      <div class="row">
        <div class="d-block mx-auto mx-md-0">
          <div class="col-5">
           <div class="section-part-header">Activities</div>
          </div>
        </div>
      </div>
      <ul class="nav nav-tabs mt-3" role="tablist" id="activityTab">
        <li class="nav-item">
         <a class="nav-link text-25 active" href="#activ" data-toggle="tab" role="tab">Highlights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-25" href="#activExtra" data-toggle="tab" role="tab">Extra Curricular</a>
         </li>
        <li class="nav-item">
        <a class="nav-link text-25" href="#activothers" data-toggle="tab" role="tab">Other Activities</a>
        </li>
      </ul>
    </div>


    <div class="tab-content">
      <div class="tab-pane fade show active" role="tab-panel" id="activ">
        <div class="container">
              <div class="row">

                <div class="col-12 col-md-3 mt-5">
                  <div class="intern-content text-center bg-custom-light-yellow">
                    <strong>Pillai's Alegria 1 Day Hackathon</strong>
                    <br>
                    Semester: 2
                  </div>
                </div>

                <div class="col-12 col-md-3 mt-5">
                  <div class="intern-content text-center bg-custom-light-yellow">
                    <strong>Cloud Computing Workshop - IEEE</strong>
                    <br>
                    Semester: 1
                  </div>
                </div>

                <div class="col-12 col-md-3 mt-5">
                  <div class="intern-content text-center bg-custom-light-yellow">
                    <strong>Graphic Design Workshop - CSI PCE</strong>
                    <br>
                    Semester: 1
                  </div>
                </div>

              </div>
          </div>
      </div>

      <div class="tab-pane fade show" role="tab-panel" id="activExtra">
        <div class="container">
              <div class="row">

                <div class="col-12 col-md-3 mt-5">
                  <div class="intern-content text-center bg-custom-light-yellow">
                    <strong>Working as a Freelance Web Developer</strong>
                    <br>
                    Semester: 6
                  </div>
                </div>

                <div class="col-12 col-md-3 mt-5">
                  <div class="intern-content text-center bg-custom-light-yellow">
                    <strong>Worked as Graphics Head in Student Council</strong>
                    <br>
                    Semester: 5
                  </div>
                </div>

                <div class="col-12 col-md-3 mt-5">
                  <div class="intern-content text-center bg-custom-light-yellow">
                    <strong>Working as a Freelance Graphic Designer</strong>
                    <br>
                    Semester: 3
                  </div>
                </div>

              </div>
          </div>
      </div>
      
      <div class="tab-pane fade {% if activExtra|length == 0 and activ|length == 0 %}show active{% endif %}" role="tab-panel" id="activothers">
        <div class="container">
            <div class="row">

                  <div class="col-12 col-md-3 mt-5">
                    <div class="intern-content text-center bg-custom-light-yellow">
                      <strong>Web Development Competition</strong>
                      <br>
                      Semester: 3
                    </div>
                  </div>

                  <div class="col-12 col-md-3 mt-5">
                    <div class="intern-content text-center bg-custom-light-yellow">
                      <strong>Web Development Competition - ACPCE</strong>
                      <br>
                      Semester: 6
                    </div>
                  </div>

                  <div class="col-12 col-md-3 mt-5">
                    <div class="intern-content text-center bg-custom-light-yellow">
                      <strong>Web Development Competition - RAIT</strong>
                      <br>
                      Semester: 1
                    </div>
                  </div>

            </div>
        </div>
      </div>
      
    </div>
  </div>

<!-- Achievements -->
<div id="achievements" class="section" data-aos="fade-up">
<div class="container">
  <div class="row">
    <div class="d-block mx-auto mx-md-0">
      <div class="col-12">
       <div class="section-part-header">Achievements & Certifications</div>
      </div>
    </div>
  </div>
  <div class="row text-center">

  <ul class="nav nav-tabs mt-3" role="tablist" id="achievecertiTab">
    <li class="nav-item">
     <a class="nav-link text-25 active" href="#achieve" data-toggle="tab" role="tab">Highlights</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-25" href="#certificate" data-toggle="tab" role="tab">Certifications</a>
     </li>
  </ul>

</div>
</div>
<div class="container">
  <div class="tab-content">
    
    <div class="tab-pane fade show active" id="achieve" role="tab-panel">
        <div class="container rounded">
          <div class="row">
            
            <div class="col-12 col-md-3 mt-5">
              <div class="intern-content text-center bg-custom-light-yellow">
                <strong>Institiute Level First Ranker - Third Year</strong>
                <br>
                Semester: 6
              </div>
            </div>
          
            <div class="col-12 col-md-3 mt-5">
              <div class="intern-content text-center bg-custom-light-yellow">
                <strong>Hackerrank Verified Achievement for Python (Basic)</strong>
                <br>
                Semester: 5
              </div>
            </div>

            <div class="col-12 col-md-3 mt-5">
              <div class="intern-content text-center bg-custom-light-yellow">
                <strong>Hackerrank Verified Achievement for React (Basic)</strong>
                <br>
                Semester: 7
              </div>
            </div>

            <div class="col-12 col-md-3 mt-5">
              <div class="intern-content text-center bg-custom-light-yellow">
                <strong>3rd Rank - Coder of Semester</strong>
                <br>
                Semester: 5
              </div>
            </div>
          
      </div>
      </div>
    </div>
    
    <div class="tab-pane fade {% if achieve|length == 0 %}show active{% endif %}" id="certificate" role="tab-panel">
      <div class="container rounded">
        <div class="row">
          
          <div class="col-12 col-md-3 mt-5">
            <div class="intern-content text-center bg-custom-light-yellow">
              <strong>Frontend Development With React - Coursera</strong>
              <br>
              Semester: 7
            </div>
          </div>

          <div class="col-12 col-md-3 mt-5">
            <div class="intern-content text-center bg-custom-light-yellow">
              <strong>Frontend Development With Bootstrap - Coursera</strong>
              <br>
              Semester: 6
            </div>
          </div>

        </div>
        </div>
      </div>
      </div>
      
  </div>
  </div>
</div>

</div>


  <!-- Goals -->
<div id="goals" class="section" data-aos="fade-up">
  <div class="container">
    <div class="row">
      <div class="d-block mx-auto mx-md-0">
        <div class="col-5">
        <div class="section-part-header">Goals</div>
        </div>
      </div>
    </div>
  </div>

<div class="container mt-4">
  <div class="row">

    <div class="col-6 sm-12">
      <p style="box-shadow: 2px 2px #FF9900;height: 45px"><strong>Long Term Goals</strong></p>
      <p style="border-bottom: 2px solid #FF9900;height: fit-content">To help start-ups achieve their goals</p>
      <p style="border-bottom: 2px solid #FF9900;height: fit-content">Do good UX research and develop interfaces</p>
    </div>

    <div class="col-6 sm-12">
      <p style="box-shadow: 2px 2px #FF9900;height: 45px"><strong>Short term Goals</strong></p>
      <p style="border-bottom: 2px solid #FF9900;height: fit-content">Learn Blockchain</p>
      <p style="border-bottom: 2px solid #FF9900;height: fit-content">Learn Video Editing</p>
    </div>
  </div>
</div>
</div>

<!--Others-->
<div id="otherinfo" class="section" data-aos="fade-up">
<div class="container">
  <div class="row">
    <div class="d-block mx-auto mx-md-0">
      <div class="col-5">
       <div class="section-part-header">Others</div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 bg-custom-light-yellow ml-auto mr-auto">
      <div class="mt-4 text-center">
        <p><strong>Languages Known:</strong> English, French, Hindi</p>
        <p><strong>Hobbies:</strong> Running, Swimming, Reading informative books and  listening to soothing music</p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
</div>
<!--End of Others-->

<!--Testimonials-->
<div id="testimonials" data-aos="fade-up" class="section">
  <div class="container">
    <div class="row">
      <div class="d-block mx-auto mx-md-0">
        <div class="col-5">
        <div class="section-part-header">Testimonials</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">

      <div class="col-12 col-md-4">
        <div class="card rounded-card">
          <div class="quote-icon">
            <i class="fa fa-quote-left fa-4x ml-4 mt-2"></i>
          </div>
          <div class="card-body">
            <i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</i>
          </div>
          <div class="quote-icon" align="right">
            <i class="fa fa-quote-right fa-4x mr-4 mb-2"></i>
          </div>
          <div class="card-footer custom-nav-bg text-center p-4" style="color: #fff;">
            Someone<br>
            Pillai College of Engineering
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card rounded-card">
          <div class="quote-icon">
            <i class="fa fa-quote-left fa-4x ml-4 mt-2"></i>
          </div>
          <div class="card-body">
            <div class="card-text">
              <i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</i>
            </div>
          </div>
          <div class="quote-icon" align="right">
            <i class="fa fa-quote-right fa-4x mr-4 mb-2"></i>
          </div>
          <div class="card-footer custom-nav-bg text-center p-4" style="color: #fff;">
            Someone<br>
            Pillai College of Engineering
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card rounded-card">
          <div class="quote-icon">
            <i class="fa fa-quote-left fa-4x ml-4 mt-2"></i>
          </div>
          <div class="card-body">
            <i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</i>
          </div>
          <div class="quote-icon" align="right">
            <i class="fa fa-quote-right fa-4x mr-4 mb-2"></i>
          </div>
          <div class="card-footer custom-nav-bg text-center p-4" style="color: #fff;">
            Someone<br>
            Pillai College of Engineering
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--End of Testimonials-->

<footer class="footer custom-nav-bg mt-5 p-10">
<div class="container text-center text-300">
  <div class="row text-center">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="text-300 mt-1">Designed by <a href="mailto:vermavarsu17ite@student.mes.ac.in" style="text-decoration: none; color: #fff !important;">Varsha Verma</a> and <a href="mailto:romaxak17ce@student.mes.ac.in" style="text-decoration: none; color: #fff !important;">Romax Rajeev</a></div>
      <div class="row mt-5">
        <div class="col-6 col-md-2 ml-auto mr-auto">
          <a href="https://ww.pce.ac.in" target="_blank" class="white text-500" style="text-decoration: none;">PCE</a>
        </div>
        <div class="col-6 col-md-2 ml-auto mr-auto">
          <a href="https://www.facebook.com/pillaicollege" target="_blank"><i class="fa fa-facebook-official" style="color:#fff;"></i></a>
        </div>
        <div class="col-6 col-md-2 ml-auto mr-auto">
          <a href="https://twitter.com/pillaicollege" target="_blank"><i class="fa fa-twitter" style="color:#fff;"></i></a>
        </div>
        <div class="col-6 col-md-2 ml-auto mr-auto">
          <a href="https://www.instagram.com/pillaiscollege" target="_blank"><i class="fa fa-instagram" style="color:#fff;"></i></a>
        </div>
        <div class="col-6 col-md-2 ml-auto mr-auto">
          <a href="https://www.linkedin.com/school/pillaiengineering/" target="_blank"><i class="fa fa-linkedin" style="color:#fff;"></i></a>
        </div>
        <div class="col-6 col-md-2 ml-auto mr-auto">
          <a href="https://www.youtube.com/channel/UC4rZoXnH9doGK10M9pEGi6A" target="_blank"><i class="fa fa-youtube-play" style="color:#fff;"></i></a>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
</footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/ep-2/now-ui-kit.js?v=1.1.0"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="js/ep-2/main.js"></script>
  </body>
</html>